/* You can fill in your styles here. This is just an example. */
body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
}
table tr {
    cursor: pointer;
}
table tr:hover {
    background-color: #f5f5f5;
}
#testcases {
    display: none;
}

.styled-table {
    width: 70%; /* Adjust as needed */
    margin: 0 auto; /* Center table on page */
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: left;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}